* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: lightslategray;
}

.header {
    max-width: 100%;
    height: 325px;
    display: flex;
    background-color: rgb(226, 218, 218);
    text-align: center;
    margin-bottom: 50px;
}

.my-photo {
    min-width: 300px;
    min-height: 300px;
    display: tablock;
    vertical-align: middle;
    overflow: hidden;
}

.my-photo img {
    max-width: 60%;
    max-height: 80%;
    border-radius: 50%;
    display: inline-flexbox;
    object-fit: scale-down;
    vertical-align: middle;
    float: right;
    margin: 25px 50px 25px 0px;
}

.header-content {
    width: 60%;
    margin: 0px;
    text-align: left;
    margin-top: 25px;
}

section {
    margin: 10px;
    padding: 70px;
    text-align: center;
}

.section-header {
    cursor: pointer;
}

.section-experience,
.section-studies {
    display: inline-block;
}

.experience,
.studies {
    display: none;
}

button {
    background-color: rgb(226, 218, 218);
    border-radius: 30%;
    border: 0.5px solid rgb(204, 191, 199);
    padding: 20px;
}

button:hover {
    background-color: rgba(204, 197, 197, 0.226);
    transition-duration: 1s;
    transform: scale(1.02);
    cursor: pointer
}

button:focus {
    outline: none;
    box-shadow: 2px 2px 20px #888888;
}

.active {
    display: block;
    background-color: rgba(204, 197, 197, 0.226);
    padding: 10px;
    margin-top: 15px;
}

.experience {
    text-align: left;
}

footer {
    background-color: rgb(226, 218, 218);
    text-align: center;
    width: auto;
    height: auto;
}

.social-links {
    list-style-type: none;
    padding: 50px;
    height: auto;
}

.social-links>li {
    display: inline;
    align-items: center;
    margin: 20px;
}